* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
}

#banner,
#sector,
#section-3,
#section-7 {
  background-color: #043873;
  height: 105vh;
  width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 70%;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.nav-text ul {
  display: none;
}

.menubnt {
  color: #fff;
}

.leo {
  display: none;
}

.pic-1,
.pic-2,
.pic-3,
.pic-20,
.pic-6 {
  width: 24rem;
  height: 18rem;
  margin-top: rem;
  align-items: center;
}

.pic-7 {
  width: 20rem;
  height: 17rem;
  margin-top: rem;
  align-items: center;
}

.writetop,
#contain,
#section-5 {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.done,
.where,
.done22 {
  margin: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.get h1,
.get-1 h1,
.get2 h1,
.center-text h1,
.end h1,
.get22 h1 {
  font-size: 50px;
  margin-top: 1.5rem;
}

.get p,
.get-1 p,
.get2 p,
.center-text p,
.get22 p {
  font-size: 20px;
  padding-top: 2rem;
  line-height: 2rem;
}

.bnt-20,
.txt-bnt,
.bnt-220 {
  width: 15rem;
  border-radius: 10px;
  height: 6rem;
  font-size: large;
  background-color: #4f9cf9;
  border: #4f9cf9;
  color: #fff;
  margin: 2rem;
}

.done1,
.done2 {
  margin: 2rem;
  color: #000;
}

.bottom-2 {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
  margin-top: 6rem;
  width: 80%;
  justify-content: center;
  margin-left: 2rem;
}

.middle-left,
.middle-right {
  display: none;
}

.middle {
  grid-template-rows: auto;
  gap: 40px;
  margin: 20px;
}

.middle0 {
  border: 0.5px solid #043873;
  background-color: #043873;
  border-radius: 10px;
  height: 66vh;
  padding-bottom: 50px;
  padding-left: 2rem;
}

.middle00 {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
  color: #fff;
  margin-top: 2rem;
  font-size: 18px;
}

.top1 {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.top1 span {
  color: #fff;
  font-weight: bold;
}

.top1 h1 {
  font-weight: bold;
  color: gold;
}

.top1 p {
  color: #fff;
}

.bn {
  width: 8rem;
  border-radius: 10px;
  height: 3rem;
  font-size: large;
  background-color: #4f9cf9;
  border: #4f9cf9;
  margin-left: 2rem;
  color: #fff;
  margin-top: 0.5rem;
}

.txt h1,
.spon h1 {
  font-size: 50px;
  padding-top: 6rem;
  text-align: center;
}

.txt p,
.end p {
  font-size: 20px;
  line-height: 50px;
  padding: 1.2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  height: 20%;
  padding: 40px;
}

.text-box {
  border: none;
}

#client {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cl-left {
  box-shadow: #f3f3f3;
  border-radius: 8px;
  width: 23rem;
  height: 27rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  background-color: #f3f3f3;
}

.cl-top {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin-left: 1rem;
}

.cl-top img {
  height: 50%;
  margin-top: 1rem;
}

.lines {
  margin-top: 5rem;
}

.our h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 2rem;
}

.avat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}

.aviat {
  width: 4rem;
  height: 4rem;
}

.cl-top p {
  line-height: 2rem;
}

.avat p {
  margin-top: 1rem;
}

.cl-rit,
.cl-mid {
  display: none;
}

.slider {
  align-self: center;
  padding: 1rem;
}

#section-8 {
  background-color: #043873;
  height: 60vh;
  color: #fff;
}

.text-bd h1,
.data h1 {
  margin: 1.5rem;
  font-size: 50px;
}

.para {
  width: 70%;
  padding: 1rem;
  font-size: 20px;
  line-height: 2rem;
}

.team p {
  text-align: center;
  font-size: 20px;
  padding: 1rem;
}

.lngg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lngg img {
  width: 30px;
  height: 30px;
}

#footer {
  background-color: #043873;
  color: #fff;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.phras {
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}

.product,
.resources,
.comp {
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
}

.col-text {
  color: gold;
}

.pace {
  font-size: 20px;
  text-align: center;
  line-height: 1.5rem;
  width: 90%;
  padding: 1rem;
}

.pace p {
  padding: 0.5rem;
}

.bn-111 {
  width: 12rem;
  border-radius: 10px;
  height: 5rem;
  font-size: large;
  background-color: #4f9cf9;
  border: #4f9cf9;
  color: #fff;
  margin-top: 1rem;
}

.our h1,
.spon h1 {
  font-size: 70px;
}

#footer hr {
  display: none;
}

.footer-bt {
  text-align: center;
  line-height: 2rem;
  font-size: 15px;
  padding: 2rem;
}

.icon-l {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.pic-6,
.pic-7 {
  margin: 1rem;
}

@media screen and (min-width: 1020px) {
  #banner,
  #sector {
    height: 80vh;
  }

  .banner-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    height: 50%;
    width: 50%;
    margin-left: 3rem;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
  }

  .nav-text ul {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    padding: 20px;
  }

  .menubnt {
    display: none;
  }

  .leo {
    display: block;
  }

  .nav-text ul li {
    list-style: none;
  }

  button.bnt-1 {
    width: 7rem;
    border-radius: 10px;
    height: 4rem;
    background-color: yellow;
    border: yellow;
    font-size: medium;
    color: #394097;
  }

  button.bnt-2 {
    width: 12rem;
    border-radius: 10px;
    height: 4rem;
    font-size: medium;
    background-color: #4f9cf9;
    border: #4f9cf9;
    color: #fff;
  }

  .writetop {
    display: flex;
    flex-direction: row;
  }

  .done {
    width: 50%;
  }
  
  .get h1,
  .get-1 h1,
  .get2 h1,
  .end h1 {
    font-size: 50px;
    margin-top: 1.5rem;
    width: 40rem;
    font-size: 5rem;
    text-align: center;
  }

  .get22 h1, .text-bd h1 {
    font-size: 4rem
  }

  .get p,
  .get-1 p,
  .get2 p,
  .center-text p,
  .get22 p {
    font-size: 20px;
    padding-top: 2rem;
    line-height: 2rem;
    width: 30rem;
  }

  .pic-1,
  .pic-2,
  .pic-3,
  .pic-20,
  .pic-6,
  .pic-7 {
    width: 35rem;
    height: 25rem;
    padding: 1rem;
  }

  .writetop,
  #contain,
  #section-5 {
    flex-wrap: nowrap;
  }

  #contain {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .bottom-2,
  .data,
  .work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .get2 {
    margin-left: 2rem;
  }

  .center-text p {
    padding-left: 18rem;
  }

  .middle {
    display: flex;
    flex-direction: row;
    grid-template-rows: auto;
    gap: 40px;
    margin: 2rem;
  }

  .middle0 {
    border: 0.5px solid #043873;
    background-color: #043873;
    border-radius: 10px;
    width: 25rem;
    height: 66vh;
    padding-bottom: 50px;
  }

  .middle-left,
  .middle-right {
    display: block;
    border: 0.5px solid gold;
    border-radius: 10px;
    height: 60vh;
    width: 25rem;
    margin-top: 4rem;
  }

  .top {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .top span {
    font-weight: bold;
  }

  .top h1 {
    font-size: 2rem;
    margin-top: 8%;
  }

  .top p {
    margin-top: 8%;
  }

  .left-li {
    margin-left: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .left-rit {
    margin-left: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .bnnl {
    margin-left: 2rem;
    border: gold solid;
    border-radius: 10px;
    width: 8rem;
    height: 2.5rem;
    margin-top: 8%;
  }

  #section-3,
  #section-7 {
    height: 65vh;
    display: flex;
  }

  .txt {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
  }

  .text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cl-left {
    border-radius: 8px;
    width: 23rem;
    height: 27rem;
    margin-left: 4rem;
  }

  .cl-left img {
    width: 5rem;
    height: 4rem;
    padding: 1rem;
  }

  .cl-top p {
    margin-bottom: -2.8rem;
  }

  .cl-mid,
  .cl-rit {
    display: block;
    border: #4f9cf9 1px solid;
    border-radius: 8px;
    width: 23rem;
    height: 27rem;
    background-color: #4f9cf9;
    color: #fff;
    margin: 2.5rem;
  }

  .avat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
  }
  
  .aviat {
    width: 7rem;
    height: 5rem;
  }

  .avat div h1 {
    color: #000;
  }
  .cl-left.avat.aviat {
    margin-bottom: 4rem;
  }

  .lines {
    margin-top: 5rem;
  } 

  .cl-top2,
  .cl-top1 {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  #section-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .para {
    align-items: center;
    text-align: center;
    margin-left: 4rem;
  }

  .lngg img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .product,
  .resources,
  .comp {
    margin-top: 1rem;
    padding: 2rem;
  }

  .product p,
  .resources p,
  .comp p {
    line-height: 3rem;
  }

  .pace p,
  .phras {
    line-height: 2rem;
  }

  #footer hr {
    display: block;
  }

  .footer-bt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }

  .icon-l {
    display: flex;
    align-items: end;
    margin-left: 36rem;
  }
}
